<div *ngIf="zonaCampeche">
  <h4>Zona: Campeche</h4>
  <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1tObGv9wsIdOyVOP0Tk87jpZubwLURGo&ehbc=2E312F" width="800" height="400"></iframe>
</div>

<div *ngIf="zonaCarmen">
  <h4>Zona: Ciudad del carmen</h4>
  <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1OUJxC0prCGv2Viht7vqVv1X72OcdWFY&ehbc=2E312F" width="640" height="700"></iframe>
</div>

<div *ngIf="zonaMerida">
  <h4>Zona: Ciudad del carmen</h4>
  <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1OUJxC0prCGv2Viht7vqVv1X72OcdWFY&ehbc=2E312F" width="640" height="700"></iframe>
</div>
