<nav class="side-menu">
  <ul class="side-menu-list">
      <li class="grey with-sub">
          <span>
              <i class="font-icon font-icon-dashboard"></i>
              <span class="lbl">Dashboard</span>
          </span>
          <ul>
              <li><a href="index.html"><span class="lbl">Default</span><span class="label label-custom label-pill label-danger">new</span></a></li>
              <li><a href="dashboard-top-menu.html"><span class="lbl">Top menu</span></a></li>

          </ul>
      </li>

      <!--  Revisar posteriormente sistema de push notifications
        <li class="purple with-sub">
          <span>
              <i class="font-icon font-icon-comments active"></i>
              <span class="lbl">Messages</span>
          </span>
          <ul>
              <li><a href="messenger.html"><span class="lbl">Messenger</span></a></li>
              <li><a href="chat.html"><span class="lbl">Messages</span><span class="label label-custom label-pill label-danger">8</span></a></li>
              <li><a href="chat-write.html"><span class="lbl">Write Message</span></a></li>
              <li><a href="chat-index.html"><span class="lbl">Select User</span></a></li>
          </ul>
      </li> -->

      <li class="red with-sub">
        <span>
            <i class="font-icon glyphicon glyphicon-send"></i>
            <span class="lbl">Mapas</span>
        </span>
        <ul>
            <li><a routerLink="['/mapas']" ><span class="lbl">Cobertura</span></a></li>
            <li><a href="chat.html"><span class="lbl">Sucursales</span><span class="label label-custom label-pill label-danger">8</span></a></li>

        </ul>
    </li>

      <li class="blue-dirty">
          <a href="tables.html">
              <span class="glyphicon glyphicon-th"></span>
              <span class="lbl">Tables</span>
          </a>
      </li>

      <li class="green with-sub">
          <span>
              <i class="font-icon font-icon-widget"></i>
              <span class="lbl">Components</span>
          </span>
          <ul>
              <li><a href="widgets.html"><span class="lbl">Widgets</span></a></li>
              <li><a href="elements.html"><span class="lbl">Bootstrap UI</span></a></li>


          </ul>
      </li>

      <li class="pink-red">
          <a href="activity.html">
              <i class="font-icon font-icon-zigzag"></i>
              <span class="lbl">Activity</span>
          </a>
      </li>

      <li class="orange-red with-sub">
          <span>
              <i class="font-icon font-icon-help"></i>
              <span class="lbl">Support</span>
          </span>
          <ul>
              <li><a href="documentation.html"><span class="lbl">Docs (example)</span></a></li>
              <li><a href="faq.html"><span class="lbl">FAQ Simple</span></a></li>
              <li><a href="faq-search.html"><span class="lbl">FAQ Search</span></a></li>
          </ul>
      </li>


      <li class="blue-dirty">
          <a href="list-tasks.html">
              <i class="font-icon font-icon-notebook"></i>
              <span class="lbl">Tasks</span>
          </a>
      </li>

      <li class="aquamarine">
          <a href="contacts-page.html">
              <i class="font-icon font-icon-mail"></i>
              <span class="lbl">Contact form</span>
          </a>
      </li>

      <li class="brown with-sub">
          <span>
              <span class="font-icon font-icon-chart"></span>
              <span class="lbl">Charts</span>
          </span>
          <ul>
              <li><a href="charts-c3js.html"><span class="lbl">C3.js</span></a></li>
              <li><a href="charts-peity.html"><span class="lbl">Peity</span></a></li>
              <li><a href="charts-plottable.html"><span class="lbl">Plottable.js</span></a></li>
          </ul>
      </li>

  </ul>

  <section>
      <header class="side-menu-title">Tags</header>
      <ul class="side-menu-list">
          <li>
              <a href="#">
                  <i class="tag-color green"></i>
                  <span class="lbl">Website</span>
              </a>
          </li>
          <li>
              <a href="#">
                  <i class="tag-color grey-blue"></i>
                  <span class="lbl">Bugs/Errors</span>
              </a>
          </li>
          <li>
              <a href="#">
                  <i class="tag-color red"></i>
                  <span class="lbl">General Problem</span>
              </a>
          </li>
          <li>
              <a href="#">
                  <i class="tag-color pink"></i>
                  <span class="lbl">Questions</span>
              </a>
          </li>
          <li>
              <a href="#">
                  <i class="tag-color orange"></i>
                  <span class="lbl">Ideas</span>
              </a>
          </li>
      </ul>
  </section>
</nav><!--.side-menu-->
